<header class="header-6">
  <div class="branding">
    <a routerLink="reminder-list" class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">Clinical Reminder</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="reminder-list" class="nav-link"><span class="nav-text">Reminder List</span></a>
    <a routerLink="reminder-post" class="nav-link"><span class="nav-text">Reminer Post</span></a>
  </div>
  <div class="header-actions">
    <a routerLink="login" class="nav-link nav-icon">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</header>
